/* Fonts */

@font-face {
    font-family: Ruhl;
    src: url(./fonts/FrankRuhlLibre-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Ruhl;
    src: url(./fonts/FrankRuhlLibre-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Vibes;
    src: url(./fonts/GreatVibes-Regular.ttf);
    font-weight: 400;
}


/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --header1: calc(2rem + 1vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --text: calc(1.5rem + 1vw);
    --big: calc(6rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
    scroll-behavior: smooth;
}

body {
    font-family: Ruhl, sans-serif;
    animation: fade-in 1s ease-in-out;
}

h1 {
    font-size: var(--header1);
    font-family: Vibes, serif;
}

h2 {
    font-size: var(--header2);
}

h3 {
    font-size: var(--header3);
}

h4,
h5 {
    font-size: var(--header4);
}

li,
button,
label,
input,
a,
p {
    font-size: var(--text);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

/* Utility Class */

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Nav */

.main-head {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
}

nav {
    width: 90%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    min-height: 10vh;
    padding-block: 2rem;
}

#logo {
    flex: 1 1 20rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
}

/* Hero */

.hero {
    min-height: 90vh;
    width: 95%;
    margin-inline-start: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.hero-introduction {
    flex: 2 1 40rem;
    text-align: center;
}

.hero-introduction h2 {
    padding-block-start: 3rem;
}

.hero-introduction p {
    padding: 5rem;
}

.hero-introduction a {
    padding: 2rem 8rem;
    border: 3px solid black;
    margin-bottom: 4rem;
}

.hero-images {
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4);
    position: relative;
    z-index: 1;
}

.hero-elena {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plant {
    position: absolute;
    bottom: 0;
    left: -20%;
    z-index: -1;
    max-height: 80%;
    animation: plant-entry 1.5s ease-in-out,
        plant-swing infinite alternate-reverse ease-in-out 1.5s;
    transform-origin: bottom;
}

.plant2 {
    left: 40%;
}

/* Animations */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes plant-entry {
    from {
        transform: translateX(-10%) rotateZ(-10deg) rotateX(-90deg);
    }
}

@keyframes plant-swing {
    from {
        transform: rotateZ(-1deg);
    }

    to {
        transform: rotateZ(1deg);
    }
}

.burger,
#menu-check {
    display: none;
}


/* About */
.about {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.about-image {
    flex: 1 1 40rem;
    position: relative;
}

.about-image h5 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    letter-spacing: 2rem;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
    flex: 2 1 40rem;
    justify-content: space-around;
    background-color: var(--background-color);
    color: #fff;
    padding: 10rem;
}

.about-text>*:not(:first-child) {
    margin-top: 10rem;
}

.about-text h2 {
    font-family: Vibes, serif;
}

.about-text h3 {
    font-weight: 500;
}

@media screen and (width <=843px) {
    .burger {
        display: block;
        z-index: 5;
    }

    .burger span {
        padding: .2rem 2rem;
        background-color: var(--gray-text);
        display: block;
        margin-block: 0.5rem;
        transition: all 0.5s ease;
    }

    .nav-links {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        background-color: #414141;
        flex-direction: column;
        align-items: center;
        transition: transform 1s ease;
    }

    .nav-links a {
        color: #fff;
        font-size: var(--header2);
        text-decoration: underline;
    }

    #menu-check {
        display: block;
        position: absolute;
        top: 23%;
        right: 5.2%;
        width: 3.8rem;
        height: 3.8rem;
        cursor: pointer;
        opacity: 0;
        z-index: 10;
    }

    #menu-check:checked+.nav-links {
        transform: translateX(-100%);
    }

    #menu-check:checked~.burger span {
        background-color: #fff;
    }

    #menu-check:checked~.burger span:nth-child(2) {
        opacity: 0;
    }

    #menu-check:checked~.burger span:nth-child(1) {
        transform: rotateZ(45deg) translateY(300%);
    }

    #menu-check:checked~.burger span:nth-child(3) {
        transform: rotateZ(-45deg) translateY(-300%);
    }

    .hero {
        width: 100%;
    }


    .about-text {
        padding: 5rem;
    }

    .about-text>*:not(:first-child) {
        margin-top: 5rem;
    }
}